<header>
    <nav>
        <ul>
            <li><a href="/calves/">Mostrar todas las crías</a></li>
            <li><a href="/quarantines/">Mostrar todas las cuarentenas</a></li>
            <li><a href="/suppliers/">Mostrar todos los proovedores</a></li>
            <li><a href="/diets/">Mostrar todas los dietas</a></li>
            <li><a href="/sensors/">Mostrar todos los registros de sensores</a></li>


        </ul>
    </nav>
</header>