<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&display=swap" rel="stylesheet">	
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<header>
    <div class="header--title-container">
        <h1>Corrales terneros</h1>
        <p>Administra la crianza de tus terneros de manera efectivo</p>
        <!-- <a href="#todosLosItems" class="header--button">
            Todos los registros <span></span>
        </a> -->

        <select id = "myList" onchange = "clasJaponsa()" class="header--button" >
            <option> --- elige el tipo --- </option>
            <option value="/calves/TypeI"> Tipo I </option>
            <option value="/calves/TypeII"> Tipo II </option>
        </select>
            
    </div>
    <nav class="header--nav-container">
        <ul>
            <div><a href="/calves/">Mostrar todas las crías</a></div>
            <div><a href="/quarantines/">Mostrar todas las cuarentenas</a></div>
            <div><a href="/suppliers/">Mostrar todos los proovedores</a></div>
            <div><a href="/diets/">Mostrar todas los dietas</a></div>
            <div><a href="/sensors/">Mostrar todos los registros de sensores</a></div>
            
        </ul>
    </nav>

    <script>
        function clasJaponsa() {
        var mylist = document.getElementById("myList");
        window.location = mylist.options[mylist.selectedIndex].value    
        }
        </script>
</header>