<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("partials/header.ejs")%>
    <b> Mostrar por clasificación japonesa </b>
    <select id = "myList" onchange = "clasJaponsa()" >
    <option> --- elige el tipo --- </option>
    <option value="/calves/TypeI"> Tipo I </option>
    <option value="/calves/TypeII"> Tipo II </option>
    </select>
    

    <% for( let i = 0; i < calves.length; i++ ) { %>
      <li>
        <a href="/calves/<%=calves[i].id%>"><%= calves[i].name %></a>
     
      </li>
    <% } %>

   
    




  </body>
  <script>
    function clasJaponsa() {
    var mylist = document.getElementById("myList");
    window.location = mylist.options[mylist.selectedIndex].value    
    }
    </script>
</html>
