<html>
    <body>
        <%- include("partials/header.ejs")%>
        <h1><%=diet.id%></h1>
        <form action="/diets/delete/<%=diet.id%>?_method=PUT" method="POST"></form>
            <button type="submit">DELETE</button>
            <a  class="botonVolver" href="/diet">Listado de crías</a></p>
    </body>
</html>