<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar dieta</title>
    
</head>

<body>
    <%- include("partials/header.ejs")%>
    <h1 class="titulo">Agregar dieta</h1>
    <section class="formulario">
        <form action="/diets/add" method="POST">
            <label for="breakfast">Desayuno </label>
            <p><input type="text" name="breakfast" required> </p>
            
            <label for="eat">Comida </label>
            <p><input type="text" name="eat" required></p>
           
            <label for="dinner">Cena </label>
            <p><input type="text" name="dinner"  required></p>

            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/diets">Listado de dietas</a></p>
        </form>
    </section>
    
</body>

</html>