<!DOCTYPE html>
<html>
    <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- include("partials/header.ejs")%>
        <% for( let i = 0; i < diets.length; i++ ) { %>
            <li>
                <a href="/diets/detail/<%=diets[i].id%>"><%= diets[i].id %></a>
            </li>
        <% } %>
    </body>
</html>
