<html>
    <body>
        <%- include("partials/header.ejs")%>
        <h1><%=quarantine.id%></h1>
        <form action="/quarantine/delete/<%=quarantine.id%>?_method=PUT" method="POST"></form>
            <button type="submit">Borrar</button>
            <a  class="botonVolver" href="/quarantines">Listado de crías</a></p>
    </body>
</html>