<html>
    <body>
        <h1><%=sensor.id%></h1>
        <form action="/sensors/delete/<%=sensor.id%>?_method=PUT" method="POST"></form>
            <button type="submit">DELETE</button>
            <a  class="botonVolver" href="/sensors">Listado de sensores</a></p>
    </body>
</html>