<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for( let i = 0; i < suppliers.length; i++ ) { %>
      <li>
        <a href="/suppliers/detail/<%=suppliers[i].id%>"><%= suppliers[i].name %></a>
      </li>
    <% } %>
  </body>
</html>
