/*
1.- Posicionamiento
2.- modelo de caja
3.- Tipografia
4.- Visuales
5.- Miscelaneos
*/

:root {
  /* Colors */
  --orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
    208.83deg,
    #201E1C 16.69%,
    #F7931A 100%);
}


.header--title-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  min-height: 150px;
  margin-top: 40px;
  text-align: center;
  align-self: center;

  }

.header--title-container h1 {
font-size: 2.4rem;
font-weight: 2.6rem;
line-height: 2.6rem;
color: var(--just-white) ;
}

.header--title-container p {
margin-top: 25px;
font-size: 1.6rem;
font-weight: 500;
line-height: 1.8rem;
color: var(--soft-orange);
}


.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Sombra */
  box-shadow: 0px 4px 8px  rgba(89, 73, 30,0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);

}

.header--button span {
  display: inline-block;
  width:13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("/assets/icons/down-arrow.svg");
}


.header--nav-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  min-height: 150px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  align-self: center;

  }


  .header--nav-container a {
    margin-top: 25px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
  }

  main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
  }


  .main-data-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align:center;
  
  }
  
  .main-data-container-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  

.main-data-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}


.main-data-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;

}



.main-tables--container{
  display: flex;
  overflow-x: scroll;
  
}


.main-id-value-table {
  
  width: 100%;
  min-width: 235px;
  max-width: 1000px;
  height: 360px;
  margin: 0 50px 0 50px;
  font-family: "Inter", "sans-serif";

}
.main-id-value-table .items-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--orange);

}


.id-value-table-container {
  width: 90%;
  min-width: 300px;
  max-width: 2000px;
  height: 250px;
  margin: 0 auto;
}

.id-value-table-container table {
  width: 100%;
  height: 100%;

}


.id-value-table-container td {
  width: 10%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.id-value-table-container .table__right {
  font-size:1.4rem ;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;

}


.id-value-table-container .table__top_left{
  border-radius: 15px 0 0 0;
}

.id-value-table-container .table__top_right{
  border-radius: 0 15px 0 0;

}

.id-value-table-container .table__bottom_left{
  border-radius: 0 0 0 15px;
}

.id-value-table-container .table__bottom_right{
  border-radius: 0 0 15px 0;
}
